*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html body {
	font-family: 'Poppins', sans-serif;
	background-color: #212922

}

.crpic{
  width: 200px;
height: 350px;

}


#profileimage{
  width: auto;
  height: auto;
	border-radius: 300px;
  border: 3px solid #5cb85c;
 
     
      }

#programmerimage{
 width: 600px;
 height: 600px;

  }
#greetings{
 	display: inline-block;
 	font-size: 20px;
 	font-family: ;
 	border-radius: 10px;
 	padding: 4px;
 	color: darkslategray;


 }

 #aboutme{
  display: inline-block;
  
  font-size: 30px;
  font-family: ;
color: #5cb85c;
 
  padding: 4px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;
 }

 #educbg{
  display: inline-block;
  font-size: 30px;
  font-family: ;
color: #5cb85c;
  border-radius: 10px;
  padding: 4px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;

 }
  #workexptext{
  display: inline-block;
  

    
  font-size: 30px;
  font-family: ;
color: #5cb85c;
  border-radius: 10px;
  padding: 4px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;

 }
 .info
 {
 
font-family: 'Roboto Slab', serif;
font-size: 17px;
 margin: 0px;
 }
 .mapmarker{
 	width: 20px;
 	height: 20px;
 }
  .tel{
 	width: 20px;
 	height: 20px;

 }
   .email{
 	width: 20px;
 	height:20x;

 }
    .website{
  width: 20px;
  height:20x;

 }

.info{
  font-size: 20px;
}
.p1{

  font-size: 25px;
  padding-top: 20px;
  text-shadow: black;
   text-shadow: 2px 2px #000000;
}
.p1card{

  font-size: 15px;
  padding-top: 20px;
  text-shadow: black;
   text-shadow: 2px 2px #000000;
}


.lc{
  color: smoke;
}

body nav a:hover {
  text-decoration: none;
color: white;
-webkit-transform: scale(1.2);
 padding: 5px;
 margin: 5px;
 border-radius: 10px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;
}


 #skills{
color: white;
text-decoration: none;

 }
.carouselwidth{
width: 500px;
height: 300px;
}
.carousel-item{
  width: 300px;
  height: 250px;
}

.car1
{
  color: white;
  text-shadow: black;
   text-shadow: 2px 2px #000000;
   font-size: 50px;
}
.car1card
{
  color: white;
  text-shadow: black;
   text-shadow: 2px 2px #000000;
   font-size: 25px;
}
div .progress {
  font-size: 15px;
}
#skills{
  height: auto;
  width: 80%;
  
}
#skillstext{

  font-size: 30px;
  font-family: ;
color: #5cb85c;
  border-radius: 10px;
  padding: 4px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;
}




#support{
  height: 450px;
  width: 750px;
  margin: auto;
  padding: auto;

}
.messageme{

  font-size: 30px;
  font-family: ;
color: #5cb85c;
  border-radius: 10px;
  padding: 4px;
   text-shadow: black;
   text-shadow: 2px 2px #000000;
}
.form1{
  border-radius: 10px;
  width: 100%;
}
.messageForm{
  border-radius: 20px;
}
.skills{
  height: 350px;
  width:  350px;
  border: 2px solid #5cb85c;
  border-radius: 10px;
}
.progress{
  width: auto;
  height: auto;
}
.School
{
  height: 350px;
  width:  750px;
  border-radius: 10px;
  border: 2px solid #5cb85c;
}

.cardForm{
 
  border: 30px solid #5cb85c;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-5 20:16:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.animationText{
	-webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.an1 {
	-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.Image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}